<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="icon" type="image/x-icon" href="/static/styles/Assets/AUnite Logo without wording.png">
    <title>AUnite</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/English/Alphabet.css') }}">
  </head>

  <body>
    <nav class="nav-bar">
      <a href="{{url_for('english')}}">
        <img class="PreviousIcon" src="/static/styles/Assets/previous.png" alt="PreviousIcon">
      </a>
      <h1 class="backLabel">Back</h1>
      <div class="right-align">
          <a href="{{ url_for('home') }}">
              <img class="homeImage" src="/static/styles/Assets/HomePageIcon.png" alt="home-image">
          </a>
          <h2 class="homeLabel">Home</h2>
      </div>
    </nav>
    <div class="sec-card">
      <div class="grid">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/A.png"" alt="A" />
            <div class="card-content">
              <audio id="audio1" src="/static/styles/Pronounciations/A.mp3"></audio>
              <button class="card-btn" id="A">A </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/b.png" alt="B" />
            <div class="card-content">
              <audio id="audio2" src="/static/styles/Pronounciations/B.mp3"></audio>
              <button class="card-btn" id="B">B </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/c.png" alt="C" />
            <div class="card-content">
              <audio id="audio3" src="/static/styles/Pronounciations/C.mp3"></audio>
              <button class="card-btn" id="C">C </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/d.png" alt="D" />
            <div class="card-content">
              <audio id="audio4" src="/static/styles/Pronounciations/D.mp3"></audio>
              <button class="card-btn" id="D">D </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/e.png" alt="E" />
            <div class="card-content">
              <audio id="audio5" src="/static/styles/Pronounciations/E.mp3"></audio>
              <button class="card-btn" id="E">E </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/f.png" alt="F" />
            <div class="card-content">
              <audio id="audio6" src="/static/styles/Pronounciations/F.mp3"></audio>
              <button class="card-btn" id="F">F </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/g.png" alt="G" />
            <div class="card-content">
              <audio id="audio7" src="/static/styles/Pronounciations/G.mp3"></audio>
              <button class="card-btn" id="G">G </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/h.png" alt="H" />
            <div class="card-content">
              <audio id="audio8" src="/static/styles/Pronounciations/H.mp3"></audio>
              <button class="card-btn" id="H">H </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/letter-i.png" alt="I" />
            <div class="card-content">
              <audio id="audio9" src="/static/styles/Pronounciations/I.mp3"></audio>
              <button class="card-btn" id="I">I </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/letter-j.png" alt="J" />
            <div class="card-content">
              <audio id="audio10" src="/static/styles/Pronounciations/J.mp3"></audio>
              <button class="card-btn" id="J">J </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/k.png" alt="K" />
            <div class="card-content">
              <audio id="audio11" src="/static/styles/Pronounciations/K.mp3"></audio>
              <button class="card-btn" id="K">K </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/L.png" alt="L" />
            <div class="card-content">
              <audio id="audio12" src="/static/styles/Pronounciations/L.mp3"></audio>
              <button class="card-btn" id="L">L </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/m.png" alt="M" />
            <div class="card-content">
              <audio id="audio13" src="/static/styles/Pronounciations/M.mp3"></audio>
              <button class="card-btn" id="M">M </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/n.png" alt="N" />
            <div class="card-content">
              <audio id="audio14" src="/static/styles/Pronounciations/N.mp3"></audio>
              <button class="card-btn" id="N">N </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/o.png" alt="O" />
            <div class="card-content">
              <audio id="audio15" src="/static/styles/Pronounciations/O.mp3"></audio>
              <button class="card-btn" id="O">O </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/p.png" alt="P" />
            <div class="card-content">
              <audio id="audio16" src="/static/styles/Pronounciations/P.mp3"></audio>
              <button class="card-btn" id="P">P </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/letter-q.png" alt="Q" />
            <div class="card-content">
              <audio id="audio17" src="/static/styles/Pronounciations/Q.mp3"></audio>
              <button class="card-btn" id="Q">Q </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/r.png" alt="R" />
            <div class="card-content">
              <audio id="audio18" src="/static/styles/Pronounciations/R.mp3"></audio>
              <button class="card-btn" id="R">R </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/s.png" alt="S" />
            <div class="card-content">
              <audio id="audio19" src="/static/styles/Pronounciations/S.mp3"></audio>
              <button class="card-btn" id="S">S </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/t.png" alt="T" />
            <div class="card-content">
              <audio id="audio20" src="/static/styles/Pronounciations/T.mp3"></audio>
              <button class="card-btn" id="T">T </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/u.png" alt="U" />
            <div class="card-content">
              <audio id="audio21" src="/static/styles/Pronounciations/U.mp3"></audio>
              <button class="card-btn" id="U">U </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/v.png" alt="V" />
            <div class="card-content">
              <audio id="audio22" src="/static/styles/Pronounciations/V.mp3"></audio>
              <button class="card-btn" id="V">V </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/W.png" alt="W" />
            <div class="card-content">
              <audio id="audio23" src="/static/styles/Pronounciations/W.mp3"></audio>
              <button class="card-btn" id="W">W </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/x.png" alt="X" />
            <div class="card-content">
              <audio id="audio24" src="/static/styles/Pronounciations/X.mp3"></audio>
              <button class="card-btn" id="X">X </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/y.png" alt="Y" />
            <div class="card-content">
              <audio id="audio25" src="/static/styles/Pronounciations/Y.mp3"></audio>
              <button class="card-btn" id="Y">Y </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/z.png" alt="Z" />
            <div class="card-content">
              <audio id="audio26" src="/static/styles/Pronounciations/Z.mp3"></audio>
              <button class="card-btn" id="Z">Z </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='script/English/Alphabet.js')}}"></script>
  </body>
</html>