<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="icon" type="image/x-icon" href="/static/styles/Assets/AUnite Logo without wording.png">
    <title>AUnite</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/English/Colours.css') }}">
  
  </head>

  <body>
    <nav class="nav-bar">
      <a href="{{url_for('english')}}">
          <img class="PreviousIcon" src="/static/styles/Assets/previous.png" alt="PreviousIcon">
      </a>
      <h1 class="backLabel">Back</h1>
      <div class="right-align">
          <a href="/HomePage.html">
              <img class="homeImage" src="/static/styles/Assets/HomePageIcon.png" alt="home-image">
          </a>
          <h2 class="homeLabel">Home</h2>
      </div>
    </nav>
    <div class="sec-card">
      <div class="grid">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/red.png"" alt="Red" />
            <div class="card-content">
              <audio id="audio1" src="/static/styles/Pronounciations/Red.mp3"></audio>
              <button class="card-btn" id="Red">Red </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/green.png" alt="Green" />
            <div class="card-content">
              <audio id="audio2" src="/static/styles/Pronounciations/Green.mp3"></audio>
              <button class="card-btn" id="Green">Green </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/blue.png" alt="Blue" />
            <div class="card-content">
              <audio id="audio3" src="/static/styles/Pronounciations/Blue.mp3"></audio>
              <button class="card-btn" id="Blue">Blue </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/yellow.png" alt="Yellow" />
            <div class="card-content">
              <audio id="audio4" src="/static/styles/Pronounciations/Yellow.mp3"></audio>
              <button class="card-btn" id="Yellow">Yellow </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/orange1.png" alt="Orange" />
            <div class="card-content">
              <audio id="audio5" src="/static/styles/Pronounciations/Orange.mp3"></audio>
              <button class="card-btn" id="Orange">Orange </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/black.png" alt="Black" />
            <div class="card-content">
              <audio id="audio6" src="/static/styles/Pronounciations/Black.mp3"></audio>
              <button class="card-btn" id="Black">Black </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/white.png" alt="White" />
            <div class="card-content">
              <audio id="audio7" src="/static/styles/Pronounciations/White.mp3"></audio>
              <button class="card-btn" id="White">White </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/brown.png" alt="Brown" />
            <div class="card-content">
              <audio id="audio8" src="/static/styles/Pronounciations/Brown.mp3"></audio>
              <button class="card-btn" id="Brown">Brown </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/pink.png" alt="Pink" />
            <div class="card-content">
              <audio id="audio9" src="/static/styles/Pronounciations/Pink.mp3"></audio>
              <button class="card-btn" id="Pink">Pink </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/purple.png" alt="Purple" />
            <div class="card-content">
              <audio id="audio10" src="/static/styles/Pronounciations/Purple.mp3"></audio>
              <button class="card-btn" id="Purple">Purple </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/grey.png" alt="Grey" />
            <div class="card-content">
              <audio id="audio11" src="/static/styles/Pronounciations/Grey.mp3"></audio>
              <button class="card-btn" id="Grey">Grey </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="{{url_for('static', filename='script/English/Colours.js')}}"></script>
  </body>
</html>