<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="icon" type="image/x-icon" href="/static/styles/Assets/AUnite Logo without wording.png">
    <title>AUnite</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/English/Fruits.css') }}">
  
  </head>

  <body>
    <nav class="nav-bar">
      <a href="{{url_for('english')}}">
          <img class="PreviousIcon" src="/static/styles/Assets/previous.png" alt="PreviousIcon">
      </a>
      <h1 class="backLabel">Back</h1>
      <div class="right-align">
          <a href="../HomePage.html">
              <img class="homeImage" src="/static/styles/Assets/HomePageIcon.png" alt="home-image">
          </a>
          <h2 class="homeLabel">Home</h2>
      </div>
    </nav>
    <div class="sec-card">
      <div class="grid">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/Apple.png"" alt="Apple" />
            <div class="card-content">
              <audio id="audio1" src="/static/styles/Pronounciations/Apple.mp3"></audio>
              <button class="card-btn" id="Apple">Apple </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/avocado.png" alt="Avocado" />
            <div class="card-content">
              <audio id="audio2" src="/static/styles/Pronounciations/Avocado.mp3"></audio>
              <button class="card-btn" id="Avocado">Avocado </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/bananas.png" alt="Banana" />
            <div class="card-content">
              <audio id="audio3" src="/static/styles/Pronounciations/Banana.mp3"></audio>
              <button class="card-btn" id="Banana">Banana </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/blueberry.png" alt="Blueberry" />
            <div class="card-content">
              <audio id="audio4" src="/static/styles/Pronounciations/Blueberry.mp3"></audio>
              <button class="card-btn" id="Blueberry">Blueberry </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/cherry.png" alt="Cherry" />
            <div class="card-content">
              <audio id="audio5" src="/static/styles/Pronounciations/Cherry.mp3"></audio>
              <button class="card-btn" id="Cherry">Cherry </button>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/styles/Assets/dragon-fruit.png" alt="Dragon Fruit" />
            <div class="card-content">
              <audio id="audio6" src="/static/styles/Pronounciations/Dragon-Fruit.mp3"></audio>
              <button class="card-btn" id="Dragon Fruit">Dragon Fruit </button>
              </a>
            </div>
          </div>
        </div>

        <!-- for second age  -->
        <div id="secondAge">
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/durian.png" alt="Durian" />
              <div class="card-content">
                <audio id="audio7" src="/static/styles/Pronounciations/Durian.mp3"></audio>
                <button class="card-btn" id="Durian">Durian </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/grape.png" alt="Grape" />
              <div class="card-content">
                <audio id="audio8" src="/static/styles/Pronounciations/Grape.mp3"></audio>
                <button class="card-btn" id="Grape">Grape </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/guava.png" alt="Guava" />
              <div class="card-content">
                <audio id="audio9" src="/static/styles/Pronounciations/Guava.mp3"></audio>
                <button class="card-btn" id="Guava">Guava </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/kiwi.png" alt="Kiwi" />
              <div class="card-content">
                <audio id="audio10" src="/static/styles/Pronounciations/Kiwi.mp3"></audio>
                <button class="card-btn" id="Kiwi">Kiwi </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/lemon.png" alt="Lemon" />
              <div class="card-content">
                <audio id="audio11" src="/static/styles/Pronounciations/Lemon.mp3"></audio>
                <button class="card-btn" id="Lemon">Lemon </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/mango.png" alt="Mango" />
              <div class="card-content">
                <audio id="audio12" src="/static/styles/Pronounciations/Mango.mp3"></audio>
                <button class="card-btn" id="Mango">Mango </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        

        <!-- for tird age  -->
        <div id="thirdAge">
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/mangosteen.png" alt="Mangosteen" />
              <div class="card-content">
                <audio id="audio13" src="/static/styles/Pronounciations/Mangosteen.mp3"></audio>
                <button class="card-btn" id="Mangosteen">Mangosteen </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/orange.png" alt="Orange" />
              <div class="card-content">
                <audio id="audio14" src="/static/styles/Pronounciations/Orange.mp3"></audio>
                <button class="card-btn" id="Orange">Orange </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/papaya.png" alt="Papaya" />
              <div class="card-content">
                <audio id="audio15" src="/static/styles/Pronounciations/Papaya.mp3"></audio>
                <button class="card-btn" id="Papaya">Papaya </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/peach.png" alt="Peach" />
              <div class="card-content">
                <audio id="audio16" src="/static/styles/Pronounciations/Peach.mp3"></audio>
                <button class="card-btn" id="Peach">Peach </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/pineapple.png" alt="Pineapple" />
              <div class="card-content">
                <audio id="audio17" src="/static/styles/Pronounciations/Pineapple.mp3"></audio>
                <button class="card-btn" id="Pineapple">Pineapple </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/pomegranate.png" alt="Pomegranate" />
              <div class="card-content">
                <audio id="audio18" src="/static/styles/Pronounciations/Pomegranate.mp3"></audio>
                <button class="card-btn" id="Pomegranate">Pomegranate </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/rambutan.png" alt="Rambutan" />
              <div class="card-content">
                <audio id="audio19" src="/static/styles/Pronounciations/Rambutan.mp3"></audio>
                <button class="card-btn" id="Rambutan">Rambutan </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/raspberry.png" alt="Raspberry" />
              <div class="card-content">
                <audio id="audio20" src="/static/styles/Pronounciations/Raspberry.mp3"></audio>
                <button class="card-btn" id="Raspberry">Raspberry </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/star-fruit.png" alt="Star Fruit" />
              <div class="card-content">
                <audio id="audio21" src="/static/styles/Pronounciations/Starfruit.mp3"></audio>
                <button class="card-btn" id="Star Fruit">Star Fruit </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/strawberry.png" alt="Strawberry" />
              <div class="card-content">
                <audio id="audio22" src="/static/styles/Pronounciations/Strawberry.mp3"></audio>
                <button class="card-btn" id="Strawberry">Strawberry </button>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="/static/styles/Assets/watermelon.png" alt="Watermelon" />
              <div class="card-content">
                <audio id="audio23" src="/static/styles/Pronounciations/Watermelon.mp3"></audio>
                <button class="card-btn" id="Watermelon">Watermelon </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="{{url_for('static', filename='script/English/Fruits.js')}}"></script>
    <script src="{{url_for('static', filename='script/English/english.js')}}"></script>
  </body>
</html>