body {
    background-color: #FFF3B5;
    overflow: hidden;
    margin: 0;
}

.AUnite{

    position: relative;
    width: 80px;
    height: 99px;
    left: 25px;
    top: 25px;
    /* left: 37px;
    top: 550px; */
}

.AUniteWording{
    position: relative;
    width: 400px;
    margin-top: 0;
    /* height: 50px; */
    left: 120px;
    bottom: 28px;
    line-height: 22px;
    /* top: 30px; */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;

    color: #000000;
}


.autistic-word{
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
}

.right-align{
    text-align: right;
    justify-content: right;
}

.homeImage{
    position: relative;
    width: 56px;
    height: 57px;
    bottom: 120px;
    right: 75px;
}

.homeLable{
    position: relative;
    right: 75px;
    bottom: 140px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.wording{
    position: relative;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 70px;
    color: #000000;
}

.wording .wording-top{
    font-size: 70px;
}

.wording .wording-normal{
    font-size: 30px;
}

.form-box{
    background-color: rgba(255, 246, 127, 0.466);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    border-radius: 10%;
    text-align: center;

    position: relative;
    padding: 45px;
    height: 270px;
    z-index: 1;
}

.form-box input {
    width: 300px;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #fdff82, #ff924e);
  border: 0;
  border-radius: 12px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 2.5;
  margin-top: 30px;
  outline: transparent;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 300px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.email-text, .password-text {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.loginBackground{
    position: absolute;
    width: 700px;
    height: 547px;
    left: 350px;
    top: 70px;  
}

.signup-button {
    text-align: right;
    justify-content: right;
    
    margin-bottom: 0;
}

.circle{
    position: relative;
    width: 76px;
    /* height: 76px; */
    right: 60px;
    bottom: 140px;
    /* left: 1200px;
    top: 520px; */
}

.plus{
    position: relative;
    right: 80px;
    bottom: 255px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.add-account{
    position: relative;
    right: 73px;
    bottom: 280px;
    margin-bottom: 0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.middle-test{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
    right: 20px;
}

.left-side{
    padding: 50px 70px 50px 0;
    margin-left: 0;
}

/* FOR TAB */

@media screen and (max-width: 820px) {
    .middle-test{
        display: block;
        justify-content: center;
        text-align: center;
        position: relative;
        /* bottom: 150px; */
        /* right: 20px; */
    }

    .left-side{
        position: relative;
        left: 60px;
    }

    .right-side{
        position: relative;
        width: 400px;
        left: 235px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .loginBackground{
        position: absolute;
        width: 500px;
        height: 391px;
        left: 160px;
        top: 300px;  
    }
}

@media screen and (max-width: 414px) {

    .homeImage{
        left: 120px;
    }

    .homeLable{
        left: 118px;
    }

    .circle{
        left: 140px;
        bottom: 100px;
    }

    .plus{
        left: 120px;
        bottom: 215px;
    }

    .add-account{
        left: 130px;
        bottom: 230px;
    }

    .loginBackground{
        position: absolute;
        width: 500px;
        height: 391px;
        left: 40px;
        top: 400px;  
    }

    .middle-test{
        display: block;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .left-side{
        position: relative;
        left: 130px;
    }

    .right-side{
        position: relative;
        width: 400px;
        left: 110px;
    }
}