<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/login.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <a href="#">
            <img class="AUnite" src="/static/styles/Image/AUnite-removebg-preview1.png" alt="AUnite">
        </a>
        <h1 class="AUniteWording">
            AUnite
            <br>
            <span class="autistic-word">Autistic Unite</span> 
        </h1>

        <div class="right-align">
            <a href="#">
                <!-- <img class="homeImage" src="/Image/homeImage.png" alt="home-image"> -->
                <img class="homeImage" src="/static/styles/Image/homeImage.png" alt="home-image">
            </a>
            <h2 class="homeLable">Home</h2>
        </div>
    </nav>

    <div class="middle-test">
        <div class="left-side">
            <h1 class="wording"> 
                <span class="wording-top">Welcome to <br> AUnite!</span> <br>
                <span class="wording-normal">
                    Add your Email and password to login
                </span>
           </h1>
        </div>
        <div class="right-side">
            <form id="login-form" action="/" method="POST">
                <div class="form-box">
                    <input class="email-text" name="email" type="Email" placeholder="Email Address">
                    <br><br>
                    <input class="password-text" name="password" type="password" placeholder="Password">
                    <br><br>
                    <br>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div id="message-container">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <br>
                    <input class="button-62" name="submit" type="submit" value="Login">

                    <!-- <button  role="button">Login</button> -->
                </div>
            </form>
        </div>
    </div>
    
    <img class="loginBackground" src="/static/styles/Image/loginBackground.png" alt="Login-background">

    <div class="signup-button">
        <a href="{{url_for('signupPage')}}" style="text-decoration: none;">
            <img class="circle" src="/static/styles/Image/circle.png" alt="Circle">
            <h2 class="plus">+</h2>
        </a>
        <h4 class="add-account">
            SignUp
        </h4>
    </div>
    
</body>
</html>