<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Assets/AUnite Logo without wording.png">
    <title>AUnite</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/CMusic.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('home')}}">
            <img class="MusicIcon" src="static/styles/Assets/calmmusic.png" alt="EntertainmentIcon">
        </a>
        <h1 class="MusicWording">
            Relaxing Music
            <br>
        </h1>
        <h2>mp3</h2>

        <div class="right-align">
            <a href="{{url_for('music')}}">
                <img class="HomePageIcon" src="static/styles/Assets/back-icon.png" alt="HomePageIcon">
            </a>
            <h2 class="homeLable">Back</h2>
        </div>
        <div class="songs">

            <div class="column">
                <div>
                   calm song
                </div>
                <audio controls>
                    <source src="static/styles/calm/a-small-miracle-132333.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Relaxing Music
                </div>
                <audio controls>
                    <source src="static/styles/calm/acoustic-folk-acoustic-guitar-138361.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Ciniematic Documentary
                </div>
                <audio controls>
                    <source src="static/styles/calm/cinematic-documentary-115669.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Acoustic Vibe
                </div>
                <audio controls>
                    <source src="static/styles/calm/acoustic-vibe-124586.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Endless By Prabajithk
                </div>
                <audio controls>
                    <source src="static/styles/calm/inspiring-romantic-wedding-138261.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Motivational Electronic Distant
                </div>
                <audio controls>
                    <source src="static/styles/calm/motivational-electronic-distant-132919.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Inspiring Romantic Wedding
                </div>
                <audio controls>
                    <source src="static/styles/calm/inspiring-romantic-wedding-138261.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Acoustic Folk Acoustic Guitar
                </div>
                <audio controls>
                    <source src="static/styles/calm/acoustic-folk-acoustic-guitar-138361.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Forest Lullaby
                </div>
                <audio controls>
                    <source src="static/styles/calm/forest-lullaby-110624.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="column">

                <div>
                    Reaxing Music
                </div>
                <audio controls>
                    <source src="static/styles/calm/acoustic-folk-acoustic-guitar-138361.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Weeknds Song
                </div>
                <audio controls>
                    <source src="static/styles/calm/weeknds-122592.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Lofi Study
                </div>
                <audio controls>
                    <source src="static/styles/calm/lofi-study-112191.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Please Calm My Mind
                </div>
                <audio controls>
                    <source src="static/styles/calm/please-calm-my-mind-125566.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Easy Lifestyle
                </div>
                <audio controls>
                    <source src="static/styles/calm/easy-lifestyle-137766.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    The Beat of Nature
                </div>
                <audio controls>
                    <source src="static/styles/calm/the-beat-of-nature-122841.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    A Small Miracle
                </div>
                <audio controls>
                    <source src="static/styles/calm/a-small-miracle-132333.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Relaxed Vlog Night Street
                </div>
                <audio controls>
                    <source src="static/styles/calm/relaxed-vlog-night-street-131746.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    Something About You Marilyn Ford
                </div>
                <audio controls>
                    <source src="static/styles/calm/something-about-you-marilyn-ford-135781.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br>
        <h2>mp4</h2>
        <div class="video">
            <br><br><br>
            <div class="row">
                <div class="column1">
                    Relaxing Music
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/hlWiI4xVXKY">
                    </iframe>
                </div>
                <div class="column1">
                    Acoustic Soft Songs
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/2LzQ7vuRtos">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    Relaxing Piano Music
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/lCOF9LN_Zxs">
                    </iframe>
                </div>
                <div class="column1">
                    Peder B.Helland
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/zoK1swTBKXc">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    Beautiful Relaxing Music
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/_kT38XB1YHo">
                    </iframe>
                </div>
                <div class="column1">
                    Relaxing Piano Music 
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/77ZozI0rw7w">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    Calming Music For Nerves
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/nFkD6ByQQ1M">
                    </iframe>
                </div>
                <div class="column1">
                    Relaxing Music with Nature Sounds
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/lE6RYpe9IT0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    Music to Relax the Brian
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/NqJ5N6XTa3w">
                    </iframe>
                </div>
                <div class="column1">
                    Relaxing Piano Music
                    <iframe width="420" height="245" src="https://www.youtube.com/embed/Hf03SC8l-f4">
                    </iframe>
                </div>

            </div>
        </div>
    </nav>

</body>
</html>