<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/styles/Assets/AUnite Logo without wording.png">
    <title>AUnite</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Entertainment.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home')}}">
            <img class="EntertainmentIcon" src="static/styles/Assets/EntertainmentIcon.png" alt="EntertainmentIcon">
        </a>
        <h1 class="EntertainmentWording">
            Entertainment
            <br>
        </h1>

        <div class="right-align">
            <a href="{{ url_for('home')}}">
                <img class="HomePageIcon" src="static/styles/Assets/HomePageIcon.png" alt="HomePageIcon">
            </a>
            <h2 class="homeLable">Home</h2>
        </div>
    </nav>
    <div class="middle">
        <div class="Entertainment">
            <a href="{{ url_for('music')}}">
                <button class="btnMu"><img class="Musicicon" src="static/styles/Assets/MusicIcon.png" alt="Musicicon"><div class="music">Listen to Music </div></button>
            </a>
        </div>
        <div class="EntertainmentGame">
            <a href="{{ url_for('games')}}">
                <button class="btnGm"><img class="Gameicon" src="static/styles/Assets/GameIcon.png" alt="Gameicon"><div class="game">Play video games</div></button>
            </a>
        </div>
    </div>
    
</body>
</html>
