<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Assets/AUnite Logo without wording.png">
    <title>Snake Game</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/snake.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="nav-bar">
        <a href="{{ url_for('home')}}">
            <img class="AUnite" src="/static/styles/images/AUnite-removebg-preview1.png" alt="AUnite">
        </a>
        <h1 class="AUniteWording">
            AUnite
            <br>
            <span class="autistic-word">Autistic Unite</span> 
        </h1>
        <div class="right-align">
            <a href="{{url_for('games')}}">
                <img class="homeImage" src="/static/styles/images/back-icon.png" alt="home-image">
            </a>
            <h2 class="homeLable">Back</h2>
        </div>
    </nav>
    <h1 class="heading">
        SNAKE GAME
    </h1>
    <div class="snake">
        <div class="container noselect">
            <div class="wrapper">
                <button id="replay">
                    <i class="fas fa-play"></i>
                    RESTART
                </button>
            <div id="canvas">
            </div>
                <div id="ui">
                    <h2>SCORE</h2>
                    <span id="score">00</span>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static',filename='script/snake.js') }}"> </script>
</body>
</html>
