<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Addition</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/Maths/AgeGroupMaths2/AgeGroupMaths3.css') }}">
        
    </head>
    <body background="maths1.jfif">
      <nav class="nav-bar">
        <a href="{{url_for('education')}}">
          <img class="PreviousIcon" src="/static/styles/Assets/previous.png" alt="PreviousIcon">
        </a>
        <h1 class="backLabel">Back</h1>
        <div class="right-align">
            <a href="{{ url_for('home') }}">
                <img class="homeImage" src="/static/styles/Assets/HomePageIcon.png" alt="home-image">
            </a>
            <h2 class="homeLabel">Home</h2>
        </div>
      </nav>
      <div class="items">
        <h1 style="font-size: 400%" >Random Math Quiz</h1>
        <br>
        <h1 style="font-size: 300%">Let's Add Take a pen and a paper.</h1>
        <br>
        <br>
        <br>
        <h2 id="question"></h2>
        <input type="text" name="answer" id="answer" style="width: 250px; height: 40px; font-size: 32px;"><button onclick="fire()">Enter</button>
      </div>
     <script src="{{url_for('static', filename='script/Maths/AgeGroupMaths2/AgeGroupMaths3.js')}}"></script>
    </body>
</html>